* { 
	box-sizing: border-box; 
}

body{
	background: url("../images/golfbanner.jpg") fixed right no-repeat;
	background-size: cover;
	font: 300 16px/22px "Lato","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #eee;
}

/* ============
columns
==============*/
.grid{
	position: relative;
	font-size: 0px;
}
.col-1-3, .col-2-3, .col-3-3, 
.col-1-5, .col-2-5, .col-3-5, 
.col-4-5, .col-5-5{
	vertical-align: top;
	display: inline-block;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 1%;
}
.col-1-3{
	width: 30%;
}
.col-2-3{
	width: 60%;
}
.col-3-3{
	width: 95%;
}
.col-1-5{
	width: 15%;
}
.col-2-5{
	width: 36%;
}
.col-3-5{
	width: 52%;
}
.col-4-5{
	width: 75%;
}
.col-5-5{
	width: 95%;
}

/* ============
nav
==============*/
.nav{
	text-align: right;
	width: 100%;
	margin-bottom: 1%;
}
.nav li{
	display: inline-block;
	margin-left: 5%;
}
.nav a{
	color: #eee;
	text-decoration: none;
	position: inline-block;
}
.nav a:hover{
	color: blue;
}
.primary-nav{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	display: inline-block;
}

/* ============
containers
==============*/
.container, header, .primary-footer, .grid{
	margin: 0 auto;
	width: 80%;
	background-color: rgba(0,0,0,0.8);
}

header{
	border-bottom: #eee solid 1px;
	font-size: 0px;
}
.primary-footer{
	color: #aaa;
	font-size: 14px;
	height: 40px;
	border-top: #eee solid 1px;
}
.container-welcome{
	background-color: rgba(0,0,0,0.8);
	border: 1px solid #fff;
	border-radius: 5px;
	color: #eee;
	margin: auto;
	position:absolute;
	text-align: center;
	top: 30%;
	bottom: 30%;
	left: 30%;
	right: 30%;	
	min-height: 275px;
}
.container-welcome h1{
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.container-welcome hr{
	width: 50%;
}
.social-media-list img{
	border-radius: 0%;
	height:5%;
	width: 5%;
	margin: 0;
	vertical-align: top;
}
.social-media-list li{
	display: inline;
}


/* ============
images
==============*/
.portrait{
	height: auto;
	width: 100%;
	text-align: right;
}
.logo{
	display: inline-block;
	width: 75px;
	height: 75px;
}
.container-welcome img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}


/* ============
buttons
==============*/
.btn {
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: none;
  margin-top: 10px;
}
.btn-welcome {
  border: 1px solid #fff;
  text-decoration: none;
  position: relative;
  top: 80%;
}
.btn-alt:hover{
	background: #fff;
	color: #648880;
}


/* ============
fonts and headers
==============*/
.bottom{
	vertical-align: bottom;
	margin-bottom: 1%;
}
.middle{
	vertical-align: middle;
}
.regular{
	font: 300 16px/22px "Lato","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #eee;
}
a{
	color: #bbb;
}
a:visited{
	color: #bbb;
}
a:hover{
	color: blue;
}
h1{
	font-size: 36px;
	line-height: 44px;
}
h2{
	font-size: 24px;
	line-height: 44px;
}
h3{
	font-size: 21px;
}
h4{
	font-size: 18px;
}
h5{
	color: #eee;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
small{
	color: #eee;
	font-weight: 400;
	font-size: 12px;
}
.page-title{
	font-size: 36px;
	margin: 25px 0;
}


